#landing-page{
    display: flex;
    flex-direction: row;
}

#sidebar{
    background-color: white;
    width:17%;
    height: 100%;
    position:fixed!important;
    overflow:auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sidebar > ul{
    list-style-type: none;
    padding: 0px;
}

#logo{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    display: block;
}


.sidebar-selection{
    display: block;
    width: 100%;
    text-align:center;
    white-space:normal;
    font-family: 'Inter';
    font-style: normal;
    padding: 10% 0%;
}

.sidebar-selection:hover{
    color:#000!important;
    background-color:#ccc!important;
}

#landing-content{
    padding-right:0;
    margin-left: 17%;
    padding-left: 2%;
    padding-right: 3%;
    width: 100vw;
    height: 100vh;
    overflow:auto;
    background-color: #FAFCFF;
}

.card{
    background-color: white;
    border: 1px solid #CFD3DA;
    border-radius: 8px;
    padding: 0% 2% 2% 2%;
    margin: 1%;
}

.title{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}

.page-title-row{
    margin: 2% 2% 2% 0%;
    padding-top: 2%;
}

.rows{
    display: flex;
    justify-content: space-between;
}

.page-title{
    font-size: 26px;
}
.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    font-weight: bolder;
}

table {
    table-layout: auto;
    width: 100%;
    margin-top: 9%;
}

td {
    text-align: center;
    line-height: 50px;
}